* {
}

body {
    /* max-width: 800px; */
    margin: auto;
    background-color: #c2332b;
    text-align: center  ;
    font-family: Arial;
    color: white;
}

#timer {
    font-weight: bold;
    font-size: 500%;
}   

#menu-table {
    width: 30%;
    margin: auto;
}

/* .button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
  } */
  
  .button1:hover {
    background-color: white;
    color: #c2332b;
  }

  .button {
    border: none;
    color: white;
    background-color: inherit;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid white;
  }

/*      */
/* TABS */
/*      */
  .tab-list-item {
    display: inline-block;
    /* list-style: none; */
    padding: 5px 32px;
    margin: 30px 1px;
    border-radius: 5px;
    /* border: 2px solid white; */
  }

  .tab-list-item:hover {
    background-color: white;
    color: #c2332b;
    transition-duration: 0.4s;
  }
  
  .tab-list-active {
    /* border: solid #ccc; */
    /* border-width: 1px 1px 0 1px; */
    background-color: white;
    color: #c2332b;
  }